.App-header{
    display: flex;
    justify-content: start;
}
.App-header img{
    width: 150px;
    height: 150px;
}
.App-header p{
    font-size: 50px;
    font-weight: 600;
    color: red;
    padding: 150px 70px 0 0;
}