.App-header{
  display: flex;
  justify-content: start;
}
.App-header img{
  width: 500px;
  height: 500px;
}
.App-header p{
  font-size: 50px;
  font-weight: 600;
  color: red;
  padding: 150px 70px 0 0;
}
.line{
  width: 100%;
  border-top: 3px solid red;
}
.App-body p{
  padding-left: 50px;
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 700px;
}
.line-body{
  width: 100%;
  border-top: 3px solid red;
}
.App-footer{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}